<div class="js-modal"></div>


<script type="text/template" id="text-options-template">
<div class="modal-body text-modal js-modal-body">
  <h3>
    Text Options
    <a href="#" class="js-modal-cancel modal-cancel icon-cancel-circle"></a>
  </h3>
  <div class="options-menu">
    <a href="#" class="icon-cog"></a>
    <a href="#" class="js-text-delete icon-remove"></a>
  </div>
</div>
</script>

<script type="text/template" id="modal-template">
  <div class="ui-modals js-ui-modals">
    <div class="js-modal-contents"></div>
  </div>
  <div class="ui-modals-overlay js-modal-background-layer"></div>
</script>
